<section #brand>
    <div class="hero">
        <h1>Ride Sharing Made Easy</h1>
    </div>
</section>

<section #about>
    <h2>Who are we?</h2>
    <div class="grid-items">
        <div class="grid-item">
            <mat-card>
                <mat-card-title>Michael Rayson</mat-card-title>
                <img mat-card-image src="assets/homepage/profilepic.jpg" alt="Picture of Michael Rayson" class="rounded">
                <mat-card-content>
                    <p>Blurb here...</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="grid-item">
            <mat-card>
                <mat-card-title>John Rayson</mat-card-title>
                <mat-card-content>
                    <p>Blurb here...</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

